.react-autosuggest__container {
  position: relative;
  margin: 0 3px;
}

.react-autosuggest__input {
  width: 100%;
  padding: 10px 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-left: 0px;
  border: 0;
  background-color: #fff;
  font-family: inherit;
  font-size: 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  max-height: 148px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0px 8px 8px;
  list-style-type: none;
  margin-top: 8px;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 8px;
}

.react-autosuggest__suggestion--highlighted {
  color: #fff;
  background-color: #ed64a6;
}
