{
  "plugins": ["react-hooks", "prettier"],
  "extends": ["prettier", "prettier/react"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
