@import '../../app/variables.scss';

.delete-list-wrapper {
  position: relative;
  align-self: flex-start;
}

.delete-list-button {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 10px;
  border-radius: $list-radius;
  color: $white;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
}

.delete-list-button:hover,
.delete-list-button:focus {
  background: $transparent-black;
  opacity: 1;
}

.delete-list-menu {
  position: absolute;
  top: 100%;
  left: -60px;
  right: -60px;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  color: $black-text;
  background: $white;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.delete-list-confirm {
  margin-top: 5px;
  padding: 8px 30px;
  border-radius: 6px;
  color: white;
  background: red;
  text-align: center;
  cursor: pointer;
}

.delete-list-confirm:hover,
.delete-list-confirm:focus {
  background: darkred;
}
