@import '../../app/variables.scss';

.delete-list-wrapper {
  position: relative;
  align-self: flex-start;
}

.delete-list-button {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 10px;
  border-radius: $list-radius;
  color: $white;
  font-size: 16px;
  cursor: pointer;
}

.delete-list-button:hover,
.delete-list-button:focus {
  background: $transparent-black;
}

.delete-list-menu {
  position: absolute;
  top: 100%;
  left: -60px;
  right: -60px;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: $white;
  background: #2d3748;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.delete-list-menu ~ .popover-arrow {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 99%;
  clip: rect(0 18px 14px -4px);
}

.delete-list-menu ~ .popover-arrow:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #2d3748;
  transform: rotate(45deg) translate(6px, 6px);
  box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.54);
}

.delete-list-confirm {
  margin-top: 5px;
  padding: 8px 30px;
  border-radius: 6px;
  color: white;
  text-align: center;
  cursor: pointer;
}
