.modal-underlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  position: absolute;
  display: flex;
  align-items: flex-start;
  outline: 0;
}

.modal-textarea-wrapper {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 6px;
  border-radius: 3px;
  background: white;
  transition: background 0.2s;
}
.modal-textarea-wrapper .DueComplete {
  display: inline-block;
}

.modal-textarea {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 8px;
  border: 0;
  border-radius: inherit;
  color: inherit;
  background: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  resize: none;
  overflow: hidden;
  outline: none;
}
