.options-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 8px;

  @media (max-width: 550px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
}

.modal-icon {
  flex-shrink: 0;
  margin-bottom: 3px;
  margin-right: 0.75rem;
}

.calendar-modal {
  position: absolute;
  left: 50%;
  top: 50%;
}

.calendar-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.calendar {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.calendar-buttons {
  button {
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
  }

  .calendar-save-button {
    color: white;
    background: #5aac44;
  }

  .calendar-save-button:hover {
    background: #3a8a24;
  }
}

.modal-color-picker {
  position: absolute;
  top: 100%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 5px;
  border-radius: 3px;
  color: black;
  background: #718096;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.color-picker-color {
  width: 36px;
  height: 36px;
  margin: 2px;
  border: 1px #999 solid;
  border-radius: 3px;
}

.color-picker-color:hover {
  border: 1px #fff solid;
}
