@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.item-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #4a5568;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #2d3748;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;

  background-color: #2d3748;
}

*:focus,
*:active {
  outline-color: #ed64a6 !important;
}
