.assignees {
  display: flex;
}

.assignees .assignee {
  will-change: margin;

  transition: margin 0.3s;
}

.assignees .assignee--effect:not(:first-child) {
  margin-left: -0.8rem;
}

.assignees:hover .assignee--effect:not(:first-child) {
  margin-left: 0;
}
