@import '../../app/variables.scss';
$board-width: 260px;
$board-height: 140px;
$board-margin: 5px;
$main-margin: 40px;
$add-board-bg: #ddd;
$add-board-focus-bg: #ccc;

@mixin board-button {
  width: $board-width;
  height: $board-height;
  margin: $board-margin;
  transition: background 0.1s;
}

.add-board-button {
  @include board-button;
  margin-bottom: 20px;
  border: 0;
  background: $add-board-bg;
  color: #444;
}

.add-board-button:hover,
.add-board-button:focus {
  background: $add-board-focus-bg;
}

.submit-board-button {
  padding: 8px 12px 8px 12px;
  margin: 8px 0 0 0;
  border: none;
  border-radius: 3px;
  background: $success-button-color;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.2s;
  cursor: pointer;
}

.submit-board-button:focus,
.submit-board-button:hover {
  background: $success-button-color-hover;
}

.submit-board-input {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border: 0;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  overflow: hidden;
  resize: none;
}
