@import '../../app/variables.scss';

.board-title-button {
  display: flex;
  min-width: 0;
  padding: 6px;
  border: 0;
  border-radius: 3px;
  background: transparent;
  transition: background 0.1s;
  cursor: pointer;
}

.board-title-button:hover,
.board-title-button:focus {
  background: $transparent-black;
}
