.card-badges {
  padding: 0px 8px 6px 8px;
}

.card-badges > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.card-badges > .first-row {
  justify-content: space-between;
}

.badge {
  display:flex;
  align-items: center;
  margin-right: 5px;
  padding: 3px 4px 1px 3px;
  border-radius: 4px;
  color: white;
  transition: background 0.15s;
}

.badge-icon {
  margin-bottom: 2px;
}

.badge-tasks {
  max-width: 100%; 
}
